<%- include('./partials/header'); %>

<main>
 <div class="ui segment">
   <h1>Albums</h1>
   <ul>
    <% albums.forEach(function(album) { %>
      <li class="ui segment">
        <a href="/details/<%= album.id%>"><%= album.albumTitle %> by <%= album.artist %> </a>
      </li>
    <% }); %>
  </ul>
 </div>
</main>

<footer >
  <%- include('./partials/footer'); %>
</footer>

  </body> 
  </html>